@model IEnumerable<WebQLHS.Models.TaiKhoan>

@{
    int i = 1;
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
   
    <table class="table table-hover table-light ">
        <thead class="thead-light">
            <tr>
                <th colspan="5">
                    <p>
                        @Html.ActionLink("Thêm tài khoản mới", "Create")
                    </p>
                </th>
            </tr>
            <tr>
                <th>STT</th>
                <th>
                    Tên tài khoản
                </th>
                <th>
                    Mã Giáo Viên
                </th>
                <th>
                    Loại tài khoản
                </th>
                <th></th>
            </tr>
        </thead>
    
        @foreach (var item in Model)
        {
            <tr>
              <td>@(i++)</td>
                <td>@Html.DisplayFor(modelItem=>item.TaiKhoan1)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaoVien.MaGV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoaiTaiKhoan.TenLoai)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.TaiKhoan1 }) |
                    @Html.ActionLink("Chi Tiết", "Details", new { id = item.TaiKhoan1 }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.TaiKhoan1 })
                </td>
            </tr>
        }

    </table>
</body>
</html>
