@model WebQLHS.Models.BangDiem

@{
    ViewBag.Title = "Xem Chi Tiết";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Chi tiết bảng điểm</h2>

<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Diem15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diem15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diem1Tiet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diem1Tiet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemTB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemTB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HocKi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HocKi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HocSinh.MaHS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HocSinh.MaHS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonHoc.TenMH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonHoc.TenMH)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", new { id = Model.ID })"><button class="btn btn-success">Sửa chi tiết</button></a>
    <a href="@Url.Action("Index")"><button class="btn btn-warning">Trở về danh sách</button></a>
</p>
